:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f8f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
}
h2{
  color: black;
  text-align: center;
  padding-top: 15px;
}
nav{
  background-color: white;
  height: 60px;
  width: 100%;
  border: rgb(230, 230, 230);
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: thin;
  display: flex;
  justify-content: space-around;
  gap:20%;
}

.logo{
  width: 60px;
}

.placeholder{
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  height: 100%; 
  border-right: none;
  width: 50%;
  border-color: rgb(230, 230, 230);
  border-width: thin;
  font-size: medium;
  max-width: 300px;
}


#navleft{
  display: flex;
  width: 40%;
}

#navright{
  display: flex;
  justify-self: right;
  width: 40%;
  justify-content: right;
}

#largetext{
  font-size: 3vmax;
  text-align: center;
  margin-top: 40px;
}

#mainoption{
  display: flex;
  margin-top: 40px;
  gap: 20px;
  justify-content: center;
}

h4{
  text-align: center;
  color: black;
  font-size: x-large;
}

h5,h6{
  text-align: center;
  color: black;
  font-size: medium;
}

#largeicon{
  width: 16vmax;
}

#largeicon:hover{
  width: 17vmax;
}

#smallicon{
  width: 11vmax;
}

#smallicon:hover{
  width: 12vmax;
}

#secondaryoptions{
  display: flex;
  margin-top: 40px;
  gap:20px;
  justify-content: center;
}

#rows{
  margin-top: 60px;
  gap: 20px ;
  display: flex;
  justify-content: center;
}

#rows>section>img{
  width: 11vmax;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
#rows>section>img:hover{
  width: 12vmax;
}

h6{
  font-size: small;
  font-style: italic;
}