:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #efefef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
}
h2{
  color: black;
  text-align: center;
  padding-top: 15px;
}
nav{
  background-color: white;
  height: 60px;
  width: 100%;
  border: rgb(230, 230, 230);
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: thin;
  display: flex;
  justify-content: space-around;
  gap:20%;
}

img{
  width: 60px;
}

.placeholder{
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  height: 100%; 
  border-right: none;
  width: 50%;
  border-color: rgb(230, 230, 230);
  border-width: thin;
  font-size: medium;
  max-width: 300px;
}


#navleft{
  display: flex;
  width: 40%;
}

#navright{
  display: flex;
  justify-self: right;
  width: 40%;
  justify-content: right;
}